@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}


body {
   margin: 0;
   padding: 100px 0;
   font-family: 'Montserrat', sans-serif, 'Noto Sans KR';font-weight: 200;
}

h1, h2 {
   margin:0;
   padding:0;
}

body {
   background: url(../img/bg.png) 100%;
   background-position: center;
}

hr {
   clear: both;
   border: none;
}

ul li {list-style: none;}

/******* header **********/
#header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   
}
h1 {
   display: inline-block;
   position: absolute;
   top: 100px;
   left: 3.8%;
}
   h1 img {width: 100%;}

.icon_gnb {
   position: absolute;
   top: 100px;
   right: 100px;
   width: 138px;
}
   .icon_gnb img {width: 100%;}

#gnb {display: none;}


/******** main image ***************/
.mainimg {
   width: calc( 100% - 200px);
   padding: 0 100px;
   text-align: center;
}

   .mainimg img {
      width: 100%;
   }


/******** contents ***************/
#container .project {
   
}

h2 {
   font-size: 60px;
   font-weight: 200;
   text-align: center;
   padding: 250px 0 180px 0;
}

h3 {
   font-size: 24px;
   font-weight: 500;
}
.contbox {
   padding: 0 273px;
   margin-bottom: 175px;
   font-size: 24px;
}
.txtbox {
   float: left;
   width: 50%;
   font-weight: 300;
}


.imgbox {
   float: left;
   background: #ddd;
   width: 50%;
}
   .imgbox img {
      width: 100%;
   }

/********* footer *************/

#footer {
   border-top: 1px solid #ddd;
   background: #fff;
   padding: 0 100px;
}