.wrap #container {
  text-align: center;
  padding: 0 175px 150px 175px; }
  .wrap #container .profile .inner {
    position: relative;
    display: inline-block;
    margin: auto; }
    .wrap #container .profile .inner h3 {
      text-align: left;
      padding: 0 0 18px 0; }
    .wrap #container .profile .inner p {
      line-height: 38px;
      text-align: left;
      padding-bottom: 2em; }
      .wrap #container .profile .inner p strong {
        color: #54c4cc; }
    .wrap #container .profile .inner .circle {
      position: absolute;
      top: 0;
      left: -200px;
      z-index: -1;
      width: 300px;
      height: 300px;
      border-radius: 150px;
      background-color: rgba(233, 232, 255, 0.6); }
  .wrap #container .skill {
    width: 100%; }
    .wrap #container .skill .box {
      margin: auto; }
      .wrap #container .skill .box .inner {
        display: inline-block;
        width: 150px;
        padding: 0 1% 30px 1%; }
        .wrap #container .skill .box .inner .k_icon {
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
          height: 60px;
          line-height: 60px;
          width: 60px;
          margin-bottom: 20px; }
        .wrap #container .skill .box .inner h4 {
          font-weight: 200;
          padding: 0 1%; }
  .wrap #container .tab ul li {
    width: 20%;
    height: 100px;
    float: left;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09), -1px -1px rgba(0, 0, 0, 0.05); }
    .wrap #container .tab ul li:hover {
      box-shadow: 5px 5px 5px #e9e8ff, -1px -1px rgba(0, 0, 0, 0.05);
      background-color: rgba(0, 0, 0, 0); }
      .wrap #container .tab ul li:hover a {
        color: #3b3b3b; }
    .wrap #container .tab ul li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 100px;
      color: #3b3b3b;
      padding: 0 10px;
      box-sizing: border-box;
      overflow: hidden; }
  .wrap #container .tab ul::after {
    content: "";
    display: table;
    clear: both; }
  .wrap #container .contents .date {
    padding-bottom: 50px; }
  .wrap #container .contents .banner .inner {
    height: 200px;
    margin-bottom: 100px; }
    .wrap #container .contents .banner .inner img {
      height: 100%; }
    .wrap #container .contents .banner .inner.vertical {
      height: 600px; }
  .wrap #container .contents .bi img {
    width: 100%; }
  .wrap #container .contents .ui {
    max-width: 940px;
    margin: 0 auto; }
    .wrap #container .contents .ui img {
      width: 100%; }
  .wrap #container .contents .kiosk {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%; }
    .wrap #container .contents .kiosk .slider {
      margin: 0 auto;
      max-width: 450px;
      width: 40%; }
      .wrap #container .contents .kiosk .slider .slide_viewer {
        height: 800px;
        overflow: hidden;
        position: relative; }
        .wrap #container .contents .kiosk .slider .slide_viewer .slide_group {
          height: 100%;
          position: relative;
          width: 100%; }
          .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide {
            display: none;
            height: 100%;
            position: absolute;
            width: 100%; }
            .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide:first-child {
              display: block; }
            .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide:nth-of-type(1) {
              background: #D7A151; }
            .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide:nth-of-type(2) {
              background: #F4E4CD; }
            .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide:nth-of-type(3) {
              background: #C75534; }
            .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide:nth-of-type(4) {
              background: #D1D1D4; }
            .wrap #container .contents .kiosk .slider .slide_viewer .slide_group .slide img {
              width: 100%; }
    .wrap #container .contents .kiosk .slide_buttons {
      left: 0;
      position: absolute;
      right: 0;
      text-align: center; }
      .wrap #container .contents .kiosk .slide_buttons a.slide_btn {
        color: rgba(0, 0, 0, 0);
        margin: 0 0.175em;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        display: inline-block;
        width: 60px;
        height: 5px;
        padding: 5px;
        margin-top: 30px;
        position: relative; }
        .wrap #container .contents .kiosk .slide_buttons a.slide_btn:before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          width: 60px;
          height: 2px;
          background-color: #222;
          opacity: 0.2; }
      .wrap #container .contents .kiosk .slide_buttons .slide_btn.active, .wrap #container .contents .kiosk .slide_buttons .slide_btn:hover {
        cursor: pointer; }
        .wrap #container .contents .kiosk .slide_buttons .slide_btn.active:before, .wrap #container .contents .kiosk .slide_buttons .slide_btn:hover:before {
          opacity: 0.75; }
    .wrap #container .contents .kiosk .directional_nav {
      height: 800px;
      margin: 0 auto;
      max-width: 940px;
      position: relative;
      top: -800px; }
      .wrap #container .contents .kiosk .directional_nav .previous_btn {
        bottom: 0;
        left: -0px;
        margin: auto;
        position: absolute;
        top: 0;
        background-position: top left; }
        .wrap #container .contents .kiosk .directional_nav .previous_btn:hover {
          background-position: bottom left; }
      .wrap #container .contents .kiosk .directional_nav .next_btn {
        bottom: 0;
        margin: auto;
        position: absolute;
        right: -0px;
        top: 0;
        background-position: top right; }
        .wrap #container .contents .kiosk .directional_nav .next_btn:hover {
          background-position: bottom right; }
      .wrap #container .contents .kiosk .directional_nav .previous_btn, .wrap #container .contents .kiosk .directional_nav .next_btn {
        cursor: pointer;
        height: 100px;
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -ms-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
        width: 44px;
        background-image: url(../img/arrow.png); }
      @media only screen and (max-width: 767px) {
        .wrap #container .contents .kiosk .directional_nav .previous_btn {
          left: 50px; }
        .wrap #container .contents .kiosk .directional_nav .next_btn {
          right: 50px; } }

@media (max-width: 1440px) {
  .wrap #container {
    padding: 0 100px 150px 100px; }
    .wrap #container .tab {
      padding: 0 50px; }
    .wrap #container .contents .banner .inner {
      width: 100%;
      height: auto; }
      .wrap #container .contents .banner .inner.vertical {
        height: auto; }
      .wrap #container .contents .banner .inner img {
        width: 100%;
        height: auto; } }
@media (max-width: 1023px) {
  .wrap #container {
    padding: 0 0 100px 0; }
    .wrap #container .profile {
      padding: 0 30px; }
    .wrap #container .skil {
      padding: 0 30px; }
    .wrap #container .tab {
      padding: 0 75px; }
      .wrap #container .tab ul li {
        width: 50%;
        height: 60px; }
        .wrap #container .tab ul li a {
          line-height: 60px; }
    .wrap #container .contents .banner {
      padding: 0 30px; }
      .wrap #container .contents .banner .inner {
        margin-bottom: 50px; } }
@media (max-width: 779px) {
  .wrap #container .tab {
    padding: 0 30px; } }

/*# sourceMappingURL=sub.css.map */
