@import 'respond';

.wrap{
    position: relative;
    min-width: 320px;
    #header {
        position: absolute;
        top: 0;
        left: 0;;
        width: 100%;
        height: 100px;
        z-index: 10;
    
        .inner{
            // position: relative;
            padding: 0 100px;
            height: 100%;
    
            h1{
                position: fixed;
                top: 100px;
                left: 80px;
                display: block;
                width: 138px;
                height: 100px;
                a{  display: inline-block;
                    width: 100%;
                    height: 100%;
                    img{
                        height: 100%;
                    }
                    .invisible{
                        color: rgba($color: #000000, $alpha: 0.0);
                        position: absolute;
                        top: 0;
                        left: -100%;
                        }
                }
            }
            #btn-open{
                position: fixed;
                top: 100px;
                right: 100px;
                width: 100px;
                height: 100px;
                a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        background-color: rgba($color: #fff, $alpha: 0.8);
                        border-radius: 0 0 0 25px;
                        img{
                            box-shadow: none;
                        }
                    }
                    img{
                        width: 100%;
                        border-radius: 0 0 0 25px;
                        box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0.8);
                    }
                }
            }
            nav{
                #menu{
                        position: fixed;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 100vh;
                        //padding: 5% 0 0 5%;
                        background: #{$color1};
                        transition: width 1s;
                        #btn-close{
                            width: 0;
                            position: absolute;
                            top: 100px;
                            right: 100px;
                            a{
                                display: inline-block;
                                width: 100%;
                                height: 100px;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        ul{
                            height: 100%;
                            li{
                                height: 12%;
                                a{
                                    color: #808080;
                                    text-decoration: none;
                                    font-size: 36px;
                                    letter-spacing: 0.45em;
                                    display: inline-block;
                                    padding-top: 50px;
                                    padding-left: 100px;
                                    // padding-bottom: 10px;
                                    height: 100%;
                                    width: 100%;
                                    &:hover{
                                        color: #f5f5f5;
                                        div::after {
                                            width: 100%;
                                        }
                                    }
                                    div{
                                        display:inline-block;
                                        position:relative;
                                        &::after{
                                            // background: none repeat scroll 0 0 transparent;
                                            bottom: 0;
                                            content: "";
                                            display: block;
                                            height: 1px;
                                            width: 0;
                                            bottom:-3px;
                                            left: 1px;
                                            position: absolute;
                                            background: #dddddd;
                                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                                            z-index: 12;
                                        }
                                        
                                    }
                                }
                                
                            }
                        }
                }
            }
        }
    }
}


#footer {
    border-top: 1px solid #efefef;
    // background: #f1f3f6;
    background: #fff;
    padding: 90px 100px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif, 'Noto Sans KR';
    font-weight: 200;
    // color: #{$color1};
    // color: #{$color2};
    color: rgba($color: #3b3b3b, $alpha: 00.5);
    line-height: 36px;
    .copyright{
        li:first-child {
            font-size: 36px;
            font-weight: 900;
            color: #f9f9f9;
            text-shadow: 
            // 2px 1px 2px rgba($color: #3b3b3b, $alpha: 0.2),
            1px 2px 2px rgba($color: #3b3b3b, $alpha: 0.1),
            3px 3px 10px rgba($color: #3b3b3b, $alpha: 0.15),
            7px 7px 15px rgba($color: #3b3b3b, $alpha: 0.05),
            -3px -3px 5px rgba($color: #3b3b3b, $alpha: 0.05),
            -3px -3px 10px rgba($color: #3b3b3b, $alpha: 0.02),
            -3px -3px 10px rgba($color: #3b3b3b, $alpha: 0.05),
            -15px -15px 30px rgba($color: #3b3b3b, $alpha: 0.15);
            line-height: 50px;
        }
    }
    .sns{
        ul{
            li{
                display: inline-block;
                a{
                    margin-right: 5px;
                    i:before{
                        // color: #{$color1};
                        // color: #{$color2};
                        color: rgba($color: #3b3b3b, $alpha: 00.35);
                    }
                }
                .invisible{
                color: rgba($color: #000000, $alpha: 0.0);
                position: absolute;
                top: 0;
                left: -100%;
                }
            }
        }
    }
}

@media (max-width:1440px) {
    .wrap{
        #header{
            .inner{
                nav{
                    #menu{
                        #btn-close{
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@include mobile{
    .wrap{
        #header{
            .inner{
                padding: 0;
                h1{
                    top: 0;
                    left: -10px;
                    height: 50px;
                    width: 80px;
                    a{
                        img{
                        }
                        .invisible{
                            // color: #fff;
                            // left: 10px;
                            // font-size: 20px;
                        }
                    }
                }
                #btn-open{
                    top: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    a{
                        background-color: rgba($color: #fff, $alpha: 1);
                        border-radius: 0 0 0 24px;
                        img{
                            box-shadow: none;
                        }
                    }
                }
                nav{
                    #menu{
                        ul{
                            li{
                                a{
                                    font-size: 1.5rem;
                                    padding-top: #{$pad-m};
                                    padding-left: #{$pad-m};
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer{
        padding: #{$pad-m};
        font-size: 1em;
        line-height: 1.8em;
        .copyright{
            ul{
                li:first-child{
                    line-height: 42px;
                    padding-bottom: 3px;
                }
            }
        }
        .sns{
            ul{
                li{
                    padding: 5px 5px 0 0;
                    a{
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}