.wrap {background-color: olive;
   #container {
      text-align: center;
      padding: 0 175px 150px 175px;
      //sub_profile
      .skill{
         width: 100%;
         .inner{
            display: inline-block;
            width: 10%;
            .k_icon {
               box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
               // border-radius: 60px;
               height: 60px;
               line-height: 60px;
               width: 60px;
               margin-bottom: 20px;
            }
            h4{
               font-weight: 200;
            }
         }
      }
      //sub_visual
      .tab{
         ul{
            li{
               width: 20%;
               height: 100px;
               float: left;
               background-color: white;
               box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09), -1px -1px rgba(0, 0, 0, 0.05);
               &:hover{
                  box-shadow: 5px 5px 5px #e9e8ff,  -1px -1px rgba(0, 0, 0, 0.05);
                  // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),  -1px -1px rgba(0, 0, 0, 0.05);
                  background-color: rgba(0, 0, 0, 0);
                  a{
                     // color: white;
                     // color: #e9e8ff;
                     color: #3b3b3b
                  }
               }
               a{
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  line-height: 100px;
                  color: #3b3b3b;
               }
            }
            &::after{
               content: "";
               display: table;
               clear: both;
            }
         }
      }

      //slide
      // .slider{
      //    position:relative;
      //    height:600px;
      //    // border:1px solid #f00;
      //    text-align:center;
      //    ul{
      //       // border: 1px solid orange;
      //       width: 800px;
      //       position: relative;
      //       left: 50%;
      //       transform: translate( -50%, 0);
      //       li{
      //          position:absolute;overflow:hidden;width:360px;
      //          // border:1px solid #f4f4f4;
      //          cursor:pointer;
      //          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.09), -5px 5px 8px rgba(0, 0, 0, 0.09);
      //          img{
      //             width: 100%;
                  
      //          }
      //       }
      //       .click{
      //          cursor:default;
      //       }
      //       .item1{top:149px;height:240px;left:0;z-index:1;background:rgb(37, 119, 37);}
      //       .item2{top:129px;height:300px;left:100px;z-index:2;background:#ff0;}
      //       .item3{top:99px;height:360px;left:220px;z-index:3;background:#cc66ff;}
      //       .item4{top:129px;height:300px;left:340px;z-index:2;background:#dcdcdc;}
      //       .item5{top:149px;height:240px;left:440px;z-index:1;background:#444;}
      //    }
      //    button{
      //       width: 44px;
      //       height: 100px;
      //       overflow: hidden;
      //       background-image: url(../img/arrow.png);
      //       color: rgba(0, 0, 0, 0);
      //       position: absolute;
      //       top: 200px;
      //       &.prev{
      //          background-position: top left;
      //          left: 3%;
      //          &:hover{
      //             background-position: bottom left;
      //          }
      //       }
      //       &.next{
      //          background-position: top right;
      //          right: 3%;
      //          &:hover{
      //             background-position: bottom right;
      //          }
      //       }
      //    }
      // }
   }
}



    

