.wrap {
   #container {
      text-align: center;
      padding: 0 175px 150px 175px;
      //sub_profile
      .skill{
         width: 100%;
         .inner{
            display: inline-block;
            width: 10%;
            .k_icon {
               box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
               // border-radius: 60px;
               height: 60px;
               line-height: 60px;
               width: 60px;
               margin-bottom: 20px;
            }
            h4{
               font-weight: 200;
            }
         }
      }
      //sub_visual
      .tab{
         ul{
            li{
               width: 20%;
               height: 100px;
               float: left;
               background-color: white;
               box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09), -1px -1px rgba(0, 0, 0, 0.05);
               &:hover{
                  box-shadow: 5px 5px 5px #e9e8ff,  -1px -1px rgba(0, 0, 0, 0.05);
                  // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),  -1px -1px rgba(0, 0, 0, 0.05);
                  background-color: rgba(0, 0, 0, 0);
                  a{
                     // color: white;
                     // color: #e9e8ff;
                     color: #3b3b3b
                  }
               }
               a{
                  display: inline-block;
                  width: 100%;
                  height: 100%;
                  line-height: 100px;
                  color: #3b3b3b;
               }
            }
            &::after{
               content: "";
               display: table;
               clear: both;
            }
         }
      }
      .contents{
         .title{

         }
         .date{
            padding-bottom: 100px;
         }
         //01 cardnew = slick folder
         //02 banner
         .inner{
            height: 200px;
            margin-bottom: 50px;
            img{
               height: 100%;
            }
            &.vertical{
               height: 600px;
            }
         }
         //04 BI
         
         //05 kiosk
         .kiosk{
            // background: #F7F5E6;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            .slider {
               margin: 0 auto;
               max-width: 450px;
               width: 40%;
               .slide_viewer {
                  height: 800px;
                  overflow: hidden;
                  position: relative;
                  .slide_group {
                     height: 100%;
                     position: relative;
                     width: 100%;
                     .slide {
                       display: none;
                       height: 100%;
                       position: absolute;
                       width: 100%;
                       &:first-child {
                         display: block;
                       }
                       &:nth-of-type(1) {
                         background: #D7A151;
                       }
                       &:nth-of-type(2) {
                         background: #F4E4CD;
                       }
                       &:nth-of-type(3) {
                         background: #C75534;
                       }
                       &:nth-of-type(4) {
                         background: #D1D1D4;
                       }
                        img{
                           width: 100%;
                        }
                     }
                  }
                }
                
                
            }
            .slide_buttons {
                 left: 0;
                 position: absolute;
                 right: 0;
                 text-align: center;
                 a.slide_btn {
                  color: rgba(0, 0, 0, 0);
                  //  font-size: 42px;
                   margin: 0 0.175em;
                   -webkit-transition: all 0.4s ease-in-out;
                   -moz-transition: all 0.4s ease-in-out;
                   -ms-transition: all 0.4s ease-in-out;
                   -o-transition: all 0.4s ease-in-out;
                   transition: all 0.4s ease-in-out;

                   display: inline-block;
                   width: 60px;
                   height: 5px;
                   padding: 5px;
                   margin-top: 30px;
                   position: relative;
                   &:before{
                     
                     content: '';
                     position: absolute;
                     top: 10px;
                     left: 0;   
                     width: 60px;
                     height: 2px;

                     background-color: #222;
                     opacity: 0.2;
                   }
                 }
                 
                 .slide_btn.active, .slide_btn:hover {
                   cursor: pointer;
                   &:before{
                     opacity: 0.75;
                   }
                 }
            }
            .directional_nav {
                height: 800px;
                margin: 0 auto;
                max-width: 940px;
                position: relative;
                top: -800px;
                .previous_btn {
                  bottom: 0;
                  left: -0px;
                  margin: auto;
                  position: absolute;
                  top: 0;

                  background-position: top left;
                  &:hover{
                     background-position: bottom left;
                  }
                }
                .next_btn {
                  bottom: 0;
                  margin: auto;
                  position: absolute;
                  right: -0px;
                  top: 0;

                  background-position: top right;
                  &:hover{
                     background-position: bottom right;
                  }
                }
                .previous_btn, .next_btn {
                  cursor: pointer;
                  height: 100px;
                  // opacity: 0.5;
                  -webkit-transition: opacity 0.4s ease-in-out;
                  -moz-transition: opacity 0.4s ease-in-out;
                  -ms-transition: opacity 0.4s ease-in-out;
                  -o-transition: opacity 0.4s ease-in-out;
                  transition: opacity 0.4s ease-in-out;
                  width: 44px;

                  background-image: url(../img/arrow.png);
                }
                
               //  .previous_btn:hover, .next_btn:hover {
               //    background-position: bottom;
               //  }
                
                @media only screen and (max-width: 767px) {
                  .previous_btn {
                    left: 50px;
                  }
                  .next_btn {
                    right: 50px;
                  }
                }
            }
         }
      }
   }
}